/* AppHeader.module.css */
.App-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #282c34;
    color: #fff;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
  }
  
  .logo-title {
    display: flex;
    align-items: center;
  }
  
  .header-title  {
    font-size: 24px;
    margin: 0;
  }
  
  .header-selector {
    background-color: #61dafb;
    color: #282c34;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  

  @media screen and (max-width: 600px) {
    .logo-title {
      align-items: center;
    }
  
    .header-content  {
      font-size: 18px;
    }
  }